.background {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.2vmin solid black;
  border-right: 0.2vmin solid black;
}

.contain {
  margin-top: 1vmin;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  height: 5vmin;
  width: 5vmin;
  border-radius: 0.25vmin;
  background-size: cover;
  background-position: 50%;
  margin: -0.5vmin 1vmin 0vmin 1vmin;
}

.right {
  height: 14vh;
  width: 12vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  color: white;
}

.right p {
  margin-top: -0.1vmin;
  margin-bottom: 0.3vmin;
  color: white;
  font-family: "Major Mono Display", monospace;
  font-size: 1vmin;
  text-shadow: rgb(255, 255, 255) 0 0 0.4vmin;
}

@media (max-width: 1024px) {
  .left img {
    height: 8vmin;
    width: 8vmin;
    margin: 0 1vmin 0 1vmin;
  }

  .right {
    height: 14vh;
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    color: white;
  }

  .right p {
    margin-top: 0.5vmin;
    margin-bottom: 0.1vmin;
    font-size: 1.2vmin;
  }
}
